.loneliness-section {
  background-color: #ddffff;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid #aaffff;
}

.marvel-section {
  background-color: #ffddff;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid #ffaaff;
}

.nether-section {
  background-color: #ffffdd;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid #ffffaa;
}

.rur-section {
  background-color: #ddddff;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid #aaaaff;
}

.bshmm-section {
  background-color: #ddffdd;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid #aaffaa;
}

.deinde-section {
  background-color: #ffdddd;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid #ffaaaa;
}

.dogact-section {
  background-color: #dddddd;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid #aaaaaa;
}

.feathers-section {
  background-color: #dfddfd;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid #afaafa;
}

.meta-section {
  background-color: #eeeeee;
  padding: 5px;
  border-radius: 15px;
  border: 4px solid #333333;
}

.note {
  padding-top: 30px;
  font-style: italic;
  font-size: 80%;
}

.play-title {
  font-weight: bold;
  font-size: 120%;
  padding-left: 15px;
}

.input-form {
  padding-left: 20px;
}

.correct-loneliness {
  display: none;
  padding-left: 20px;
}

.incorrect-loneliness {
  display: none;
  padding-left: 20px;
}

.correct-marvel {
  display: none;
  padding-left: 20px;
}

.incorrect-marvel {
  display: none;
  padding-left: 20px;
}

.correct-nether {
  display: none;
  padding-left: 20px;
}

.incorrect-nether {
  display: none;
  padding-left: 20px;
}

.correct-rur {
  display: none;
  padding-left: 20px;
}

.incorrect-rur {
  display: none;
  padding-left: 20px;
}

.correct-bshmm {
  display: none;
  padding-left: 20px;
}

.incorrect-bshmm {
  display: none;
  padding-left: 20px;
}

.correct-deinde {
  display: none;
  padding-left: 20px;
}

.incorrect-deinde {
  display: none;
  padding-left: 20px;
}

.correct-dogact {
  display: none;
  padding-left: 20px;
}

.incorrect-dogact {
  display: none;
  padding-left: 20px;
}

.correct-feathers {
  display: none;
  padding-left: 20px;
}

.incorrect-feathers {
  display: none;
  padding-left: 20px;
}

.correct-meta {
  display: none;
  padding-left: 20px;
}

.incorrect-meta {
  display: none;
  padding-left: 20px;
}

